*{
    font-family: helvetica;
    background-color: #ffffff;
}

h1{
    color: #4C5B61;
    margin-left: 30px;
}

.descripcion{
    padding: 30px;
    width: 75%;
    text-align: justify;
    
}
.formulario{
    width: 60%;
    margin: 20px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px #d0d0d0;
    border-radius: 25px;
}

.btnPrincipal{
    border-radius: 10px;
    padding: 9px 28px; /*Padding top & bottom de 9px y left & right 28px*/
    background-color: #A9DFE2;
    font-size: 10pt;
    border: none;
    margin-left:12px;
}

.btnPrincipal:hover{
    background-color: #d1edef
}

.btnSecundario{
    border-radius: 10px;
    padding: 9px 28px;
    background-color: #efefef;
    font-size: 10pt;
    border: none;
    margin-left:12px;
}

input[type="text"],[type="number"],[type="tel"],[type="email"],
[type="password"],[type="file"]{
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 15em;
    height: 2em;
    
}


label{
    text-align: center;
}

